[workspace]
members = [
    "cli",
    "client",
    "lang",
    "lang/attribute/*",
    "lang/derive/*",
    "lang/syn",
    "spl",
]
exclude = [
    "examples/swap/deps/serum-dex",
    "examples/cfo/deps/serum-dex",
    "examples/cfo/deps/stake",
]
